{% extends "base.html" %}

{% block content %}
    <div class="about_us">
        <div class="header_about_us">Learn English</div>
    <div class="text">Learn English at an English language school and get comfortable speaking the world's language.
        Spend a few weeks or months attending full-time English courses with an engaging teacher.
        If you can't spare the time to attend class, why not take advantage of our online English school?
        Whatever your goals, our English learning programs will get you there.
        Get in touch so we can discuss your options. </br>

        E-mail: course@smartcookies.ua
    </div>
    <div class="header_about_us">Programs we offer:</div>
    <div class="programm_item">
        <img class="programm_image" src="/static/istockphoto-839295596-170667a.jpg" alt="">
        <div class="programm_content">
            <h4>Full course for Kids</h4>
            <b>Age: 10-14 Time: 6,9 or 12 Months</b>
            <p>Learn English online and improve your skills through our high-quality courses. Made fun for Kids.</p>
        </div>
    </div>
    <div class="programm_item">
        <img class="programm_image" src="/static/istockphoto-1298022621-170667a.jpg" alt="">
        <div class="programm_content">
            <h4>Full course for Teens</h4>
            <b>Age: 14-18 Time: 6,9 or 12 Months</b>
            <p>Learn English online and improve your skills through our high-quality courses. Tailored for Teens.</p>
        </div>
    </div>
    <div class="programm_item">
        <img class="programm_image" src="/static/istockphoto-1295057612-170667a.jpg" alt="">
        <div class="programm_content">
            <h4>Full course for young Adults</h4>
            <b>Age: 18-25 Time: 6,9 or 12 Months</b>
            <p>Learn English online and improve your skills through our high-quality courses. Tailored for young Adults.</p>
        </div>
    </div>
    <div class="programm_item">
        <img class="programm_image" src="/static/istockphoto-1254127323-170667a.jpg" alt="">
        <div class="programm_content">
            <h4>Full course for Adults</h4>
            <b>Age: 25+ Time: 6,9 or 12 Months</b>
            <p>Learn English online and improve your skills through our high-quality courses. Tailored for Adults.</p>
        </div>
    </div>
    </div>
{% endblock %}